*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: aquamarine;
    display: flex;
}
h1{
    padding: 20px;
    font-size: 3.5rem;
}
p{
    padding: 5px;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}
body{
    margin: 25px 7px 25px 7px;
    border-radius: 5px;
    display: block;
    /* width: 100%; */
    background-color: rgb(243, 14, 14);
}
header{
    text-align: center;
    background-color: yellowgreen;
}
main{
    background-color: blueviolet;
}
.container-img-position{
    background-color: cornflowerblue;
    /* display: block; */
    /* justify-content: center; */
    display: inline-flex;
    justify-content: center;
}
ul{
    font-size: 1.7rem;
    
}
h2{
    font-size: 2rem;
}

